#card-cart {
    margin: 40px;
}

#cart-item {
    display: flex;
  }
  
  #cart-item img {
    width: 100px;
    margin-right: 10px;
  }
  
  #cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  #cart-item-details p {
    margin: 0;
  }

  p {
    color: red !important;
  }
  