/* MainNav */
#main-nav {
    background-color: #1c1c1c !important;
}

#main-nav-logo {
    height: 4em;
    padding-right: 3em;
}

/* Cartegories */
#categories-nav {
    box-shadow: 0px 2px 20px black;
    padding: 0;
    background-color: #ffffff !important;
}

#categories-nav-dropdown {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #1c1c1c !important;
}

#categories-nav-dropdown:hover {
    color: #ffffff !important;
    background-color: #e21c1c !important;
}

#categories-nav-dropdown:focus {
    color: #ffffff !important;
    background-color: #e21c1c !important;
}

.CategoriesDropdownItem {
    color: #1c1c1c !important;
    text-decoration: none;
}

.CategoriesDropdownItem:hover {
    color: #ffffff !important;
    background-color: #e21c1c !important;
}

